flow21112020.json
[{"id":"a4089e94.5eb3d","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b3b9c156.5473d","type":"function","z":"a4089e94.5eb3d","name":"conversion Temperature","func":"if(msg.payload!==undefined&&msg.payload.temperature!==undefined) {\n    var t = {payload:msg.payload.temperature}\n    return t;\n}","outputs":1,"noerr":0,"x":250,"y":180,"wires":[["598bca54.35df9c"]]},{"id":"9a6b8bf8.07c468","type":"BLE","z":"a4089e94.5eb3d","name":"BLE","topic":"BLE","uuid":"0280e1003402","temperature":true,"humidity":true,"accelerometer":true,"x":50,"y":40,"wires":[["3ab6958f.0bf852","4287feee.65325","b3b9c156.5473d"]]},{"id":"f62c6cdc.968b4","type":"mongodb out","z":"a4089e94.5eb3d","mongodb":"b0d7dd61.ffb078","name":"Insert Temp","collection":"Temp","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":930,"y":360,"wires":[]},{"id":"598bca54.35df9c","type":"delay","z":"a4089e94.5eb3d","name":"filtrage","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":180,"wires":[["b4babe23.e2613"]]},{"id":"b4babe23.e2613","type":"function","z":"a4089e94.5eb3d","name":"Ajout date","func":"var date = new Date();\nmsg.payload = {date: date.toLocaleDateString() + \" \" + date.toLocaleTimeString(), temp: msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":180,"wires":[["f62c6cdc.968b4","a71a550f.431c5"]]},{"id":"a71a550f.431c5","type":"debug","z":"a4089e94.5eb3d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":320,"wires":[]},{"id":"fe5d0089.af1fc8","type":"function","z":"a4089e94.5eb3d","name":"Query","func":"var query = {date:{$regex:msg.payload}};\nmsg.payload = query;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":480,"wires":[["cede0783.240db","1c261490.8395b3"]]},{"id":"cede0783.240db","type":"mongodb in","z":"a4089e94.5eb3d","mongodb":"b0d7dd61.ffb078","name":"find Temp","collection":"Temp","operation":"find","x":440,"y":480,"wires":[["f9139ef9.89d798","a4ce641a.546948"]]},{"id":"bdc6f08.125c79","type":"mqtt out","z":"a4089e94.5eb3d","name":"TPM/Chart/Temp","topic":"TPM/Chart/Temp","qos":"0","retain":"","broker":"f688a5ce.df8078","x":830,"y":540,"wires":[]},{"id":"79eb4cf2.05ee1c","type":"debug","z":"a4089e94.5eb3d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":460,"wires":[]},{"id":"eef1f136.e8c3b8","type":"mqtt in","z":"a4089e94.5eb3d","name":"TPM/Query/Temp","topic":"TPM/Query/Temp","qos":"2","broker":"f688a5ce.df8078","x":100,"y":420,"wires":[[]]},{"id":"1c261490.8395b3","type":"debug","z":"a4089e94.5eb3d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":400,"wires":[]},{"id":"93dcfad7.1c2a78","type":"inject","z":"a4089e94.5eb3d","name":"","topic":"","payload":"2020-11-21","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":480,"wires":[["fe5d0089.af1fc8"]]},{"id":"4287feee.65325","type":"function","z":"a4089e94.5eb3d","name":"Conversion Humidite","func":"if(msg.payload!==undefined&&msg.payload.humidity!==undefined) {\n    var h = {payload:10 * msg.payload.humidity}\n    return h;\n}","outputs":1,"noerr":0,"x":260,"y":80,"wires":[["23d99130.c0e40e"]]},{"id":"3ab6958f.0bf852","type":"function","z":"a4089e94.5eb3d","name":"Conversion Accelerometer","func":"if(msg.payload!==undefined&&msg.payload.x!==undefined&&msg.payload.y!==undefined&&msg.payload.z!==undefined) {\n    msg.payload = {x:msg.payload.x, y:msg.payload.y, z:msg.payload.z};\n    return msg;\n}\n","outputs":1,"noerr":0,"x":280,"y":20,"wires":[["cb3f4e8a.888f68","6e8b8c5e.89112c"]]},{"id":"cb3f4e8a.888f68","type":"debug","z":"a4089e94.5eb3d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":60,"wires":[]},{"id":"67fc96fe.a985f8","type":"function","z":"a4089e94.5eb3d","name":"Ajout date","func":"var date = new Date();\nmsg.payload = {date: date.toLocaleDateString() + \" \" + date.toLocaleTimeString(), Hum: msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":100,"wires":[["96bdd4ab.a39b","a610c57.f457438"]]},{"id":"96bdd4ab.a39b","type":"debug","z":"a4089e94.5eb3d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":160,"wires":[]},{"id":"a610c57.f457438","type":"mongodb out","z":"a4089e94.5eb3d","mongodb":"b0d7dd61.ffb078","name":"Insert Humidity","collection":"Humidity","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":960,"y":200,"wires":[]},{"id":"5c045afa.6dc4ac","type":"mongodb out","z":"a4089e94.5eb3d","mongodb":"b0d7dd61.ffb078","name":"Insert Accelerometre","collection":"Accelerometre","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":980,"y":100,"wires":[]},{"id":"23d99130.c0e40e","type":"delay","z":"a4089e94.5eb3d","name":"filtrage","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":100,"wires":[["67fc96fe.a985f8"]]},{"id":"6e8b8c5e.89112c","type":"delay","z":"a4089e94.5eb3d","name":"filtrage","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":60,"wires":[["5c045afa.6dc4ac"]]},{"id":"1daf3743.079871","type":"mongodb in","z":"a4089e94.5eb3d","mongodb":"b0d7dd61.ffb078","name":"find Humidity","collection":"Humidity","operation":"find","x":430,"y":660,"wires":[["cb0bbffa.ffd728","5ad8ef.a8ab3f1"]]},{"id":"2343fb23.096e04","type":"mqtt out","z":"a4089e94.5eb3d","name":"TPM/Chart/Hum","topic":"TPM/Chart/Hum","qos":"","retain":"","broker":"f688a5ce.df8078","x":840,"y":720,"wires":[]},{"id":"1251089b.13ad1f","type":"debug","z":"a4089e94.5eb3d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":660,"wires":[]},{"id":"4000918f.d9efb8","type":"mqtt in","z":"a4089e94.5eb3d","name":"TPM/Query/Hum","topic":"TPM/Query/Hum","qos":"2","broker":"f688a5ce.df8078","x":100,"y":580,"wires":[[]]},{"id":"70d35602.804a98","type":"debug","z":"a4089e94.5eb3d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":580,"wires":[]},{"id":"c7924dcf.ef2708","type":"mongodb in","z":"a4089e94.5eb3d","mongodb":"b0d7dd61.ffb078","name":"find Acceleration","collection":"Accelerometre","operation":"find","x":450,"y":820,"wires":[["32b2b059.718cd8","abfe4cd0.b1eeb"]]},{"id":"cfc00567.b0be","type":"mqtt out","z":"a4089e94.5eb3d","name":"TPM/Chart/Accel","topic":"TPM/Chart/Accel","qos":"","retain":"","broker":"f688a5ce.df8078","x":850,"y":880,"wires":[]},{"id":"de3f10cb.00f3d","type":"debug","z":"a4089e94.5eb3d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":820,"wires":[]},{"id":"b9bc307f.1afb7","type":"mqtt in","z":"a4089e94.5eb3d","name":"TPM/Query/Accel","topic":"TPM/Query/Accel","qos":"2","broker":"f688a5ce.df8078","x":110,"y":740,"wires":[[]]},{"id":"364bade7.d23672","type":"debug","z":"a4089e94.5eb3d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":740,"wires":[]},{"id":"ddcaed38.de39a","type":"inject","z":"a4089e94.5eb3d","name":"","topic":"","payload":"2020-11-21","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":660,"wires":[["9a0964c9.e9b338"]]},{"id":"c5f0bacf.48e61","type":"inject","z":"a4089e94.5eb3d","name":"","topic":"","payload":"2020-11-21","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":820,"wires":[["a3038f7f.e82fa8"]]},{"id":"f9139ef9.89d798","type":"function","z":"a4089e94.5eb3d","name":"Conv","func":"msg.payload.forEach(el => delete el[\"_id\"]);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":440,"wires":[["79eb4cf2.05ee1c"]]},{"id":"a4ce641a.546948","type":"function","z":"a4089e94.5eb3d","name":"Conv","func":"msg.payload.forEach(el => delete el[\"_id\"]);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":520,"wires":[["bdc6f08.125c79"]]},{"id":"9a0964c9.e9b338","type":"function","z":"a4089e94.5eb3d","name":"Query","func":"var query = {date:{$regex:msg.payload}};\nmsg.payload = query;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":660,"wires":[["1daf3743.079871"]]},{"id":"a3038f7f.e82fa8","type":"function","z":"a4089e94.5eb3d","name":"Query","func":"var query = {date:{$regex:msg.payload}};\nmsg.payload = query;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":820,"wires":[["c7924dcf.ef2708"]]},{"id":"cb0bbffa.ffd728","type":"function","z":"a4089e94.5eb3d","name":"Conv","func":"msg.payload.forEach(el => delete el[\"_id\"]);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":620,"wires":[["1251089b.13ad1f"]]},{"id":"5ad8ef.a8ab3f1","type":"function","z":"a4089e94.5eb3d","name":"Conv","func":"msg.payload.forEach(el => delete el[\"_id\"]);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":720,"wires":[["2343fb23.096e04"]]},{"id":"32b2b059.718cd8","type":"function","z":"a4089e94.5eb3d","name":"Conv","func":"msg.payload.forEach(el => delete el[\"_id\"]);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":780,"wires":[["de3f10cb.00f3d"]]},{"id":"abfe4cd0.b1eeb","type":"function","z":"a4089e94.5eb3d","name":"Conv","func":"msg.payload.forEach(el => delete el[\"_id\"]);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":880,"wires":[["cfc00567.b0be"]]},{"id":"b0d7dd61.ffb078","type":"mongodb","z":"","hostname":"192.168.1.58","topology":"direct","connectOptions":"","port":"27017","db":"capteurs","name":""},{"id":"f688a5ce.df8078","type":"mqtt-broker","z":"a4089e94.5eb3d","name":"","broker":"192.168.1.58","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
