flow21112020.json
[{"id":"a4089e94.5eb3d","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b3b9c156.5473d","type":"function","z":"a4089e94.5eb3d","name":"conversion Temperature","func":"if(msg.payload!==undefined&&msg.payload.temperature!==undefined) {\n    var t = {payload:msg.payload.temperature}\n    return t;\n}","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["598bca54.35df9c"]]},{"id":"f62c6cdc.968b4","type":"mongodb out","z":"a4089e94.5eb3d","mongodb":"b0d7dd61.ffb078","name":"Insert Temp","collection":"Temp","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":930,"y":420,"wires":[]},{"id":"598bca54.35df9c","type":"delay","z":"a4089e94.5eb3d","name":"filtrage","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":400,"wires":[["b4babe23.e2613"]]},{"id":"b4babe23.e2613","type":"function","z":"a4089e94.5eb3d","name":"Ajout date","func":"var date = new Date();\nmsg.payload = {date: date.toLocaleDateString() + \"T\" + date.toLocaleTimeString(), temp: msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":400,"wires":[["f62c6cdc.968b4","f39f3bc6.a9d63"]]},{"id":"fe5d0089.af1fc8","type":"function","z":"a4089e94.5eb3d","name":"Query","func":"var query = {date:{$regex:msg.payload}};\nmsg.payload = query;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":480,"wires":[["cede0783.240db"]]},{"id":"cede0783.240db","type":"mongodb in","z":"a4089e94.5eb3d","mongodb":"b0d7dd61.ffb078","name":"find Temp","collection":"Temp","operation":"find","x":440,"y":480,"wires":[["a4ce641a.546948"]]},{"id":"bdc6f08.125c79","type":"mqtt out","z":"a4089e94.5eb3d","name":"TPM/Query/Chart/Temp","topic":"TPM/Query/Chart/Temp","qos":"0","retain":"","broker":"f688a5ce.df8078","x":850,"y":480,"wires":[]},{"id":"eef1f136.e8c3b8","type":"mqtt in","z":"a4089e94.5eb3d","name":"TPM/Query/Temp","topic":"TPM/Query/Temp","qos":"0","broker":"f688a5ce.df8078","x":100,"y":480,"wires":[["fe5d0089.af1fc8"]]},{"id":"4287feee.65325","type":"function","z":"a4089e94.5eb3d","name":"Conversion Humidite","func":"if(msg.payload!==undefined&&msg.payload.humidity!==undefined) {\n    var h = {payload:10 * msg.payload.humidity}\n    return h;\n}","outputs":1,"noerr":0,"x":360,"y":280,"wires":[["23d99130.c0e40e"]]},{"id":"3ab6958f.0bf852","type":"function","z":"a4089e94.5eb3d","name":"Conversion Accelerometer","func":"if(msg.payload!==undefined&&msg.payload.x!==undefined&&msg.payload.y!==undefined&&msg.payload.z!==undefined) {\n    msg.payload = {x:msg.payload.x, y:msg.payload.y, z:msg.payload.z};\n    return msg;\n}\n","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["6e8b8c5e.89112c"]]},{"id":"a610c57.f457438","type":"mongodb out","z":"a4089e94.5eb3d","mongodb":"b0d7dd61.ffb078","name":"Insert Humidity","collection":"Humidity","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":940,"y":320,"wires":[]},{"id":"5c045afa.6dc4ac","type":"mongodb out","z":"a4089e94.5eb3d","mongodb":"b0d7dd61.ffb078","name":"Insert Accelerometre","collection":"Accelerometre","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":940,"y":180,"wires":[]},{"id":"23d99130.c0e40e","type":"delay","z":"a4089e94.5eb3d","name":"filtrage","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":280,"wires":[["93d85d8c.bfd08"]]},{"id":"6e8b8c5e.89112c","type":"delay","z":"a4089e94.5eb3d","name":"filtrage","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":590,"y":160,"wires":[["9bf7b33a.37da5"]]},{"id":"1daf3743.079871","type":"mongodb in","z":"a4089e94.5eb3d","mongodb":"b0d7dd61.ffb078","name":"find Humidity","collection":"Humidity","operation":"find","x":430,"y":540,"wires":[["5ad8ef.a8ab3f1"]]},{"id":"2343fb23.096e04","type":"mqtt out","z":"a4089e94.5eb3d","name":"TPM/Query/Chart/Hum","topic":"TPM/Query/Chart/Hum","qos":"","retain":"","broker":"f688a5ce.df8078","x":870,"y":540,"wires":[]},{"id":"c7924dcf.ef2708","type":"mongodb in","z":"a4089e94.5eb3d","mongodb":"b0d7dd61.ffb078","name":"find Acceleration","collection":"Accelerometre","operation":"find","x":470,"y":600,"wires":[["abfe4cd0.b1eeb"]]},{"id":"cfc00567.b0be","type":"mqtt out","z":"a4089e94.5eb3d","name":"TPM/Query/Chart/Acel","topic":"TPM/Query/Chart/Accel","qos":"","retain":"","broker":"f688a5ce.df8078","x":880,"y":600,"wires":[]},{"id":"b9bc307f.1afb7","type":"mqtt in","z":"a4089e94.5eb3d","name":"TPM/Query/Accel","topic":"TPM/Query/Accel","qos":"0","broker":"f688a5ce.df8078","x":110,"y":600,"wires":[["a3038f7f.e82fa8"]]},{"id":"a4ce641a.546948","type":"function","z":"a4089e94.5eb3d","name":"Conv","func":"msg.payload.forEach(el => delete el[\"_id\"]);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":480,"wires":[["bdc6f08.125c79"]]},{"id":"9a0964c9.e9b338","type":"function","z":"a4089e94.5eb3d","name":"Query","func":"var query = {date:{$regex:msg.payload}};\nmsg.payload = query;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":540,"wires":[["1daf3743.079871"]]},{"id":"a3038f7f.e82fa8","type":"function","z":"a4089e94.5eb3d","name":"Query","func":"var query = {date:{$regex:msg.payload}};\nmsg.payload = query;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":600,"wires":[["c7924dcf.ef2708"]]},{"id":"5ad8ef.a8ab3f1","type":"function","z":"a4089e94.5eb3d","name":"Conv","func":"msg.payload.forEach(el => delete el[\"_id\"]);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":540,"wires":[["2343fb23.096e04"]]},{"id":"abfe4cd0.b1eeb","type":"function","z":"a4089e94.5eb3d","name":"Conv","func":"msg.payload.forEach(el => delete el[\"_id\"]);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":600,"wires":[["cfc00567.b0be"]]},{"id":"93d85d8c.bfd08","type":"function","z":"a4089e94.5eb3d","name":"Ajout date","func":"var date = new Date();\nmsg.payload = {date: date.toLocaleDateString() + \"T\" + date.toLocaleTimeString(), hum: msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":280,"wires":[["a610c57.f457438","9a832aab.509268"]]},{"id":"9bf7b33a.37da5","type":"function","z":"a4089e94.5eb3d","name":"Ajout date","func":"var date = new Date();\nmsg.payload = {date: date.toLocaleDateString() + \"T\" + date.toLocaleTimeString(), x: msg.payload.x, y: msg.payload.y, z: msg.payload.z};\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":160,"wires":[["5c045afa.6dc4ac","581104d9.56fb0c"]]},{"id":"4000918f.d9efb8","type":"mqtt in","z":"a4089e94.5eb3d","name":"TPM/Query/Hum","topic":"TPM/Query/Hum","qos":"0","broker":"f688a5ce.df8078","x":100,"y":540,"wires":[["9a0964c9.e9b338"]]},{"id":"f39f3bc6.a9d63","type":"mqtt out","z":"a4089e94.5eb3d","name":"TPM/Chart/Temp","topic":"TPM/Chart/Temp","qos":"0","retain":"","broker":"f688a5ce.df8078","x":1090,"y":360,"wires":[]},{"id":"9a832aab.509268","type":"mqtt out","z":"a4089e94.5eb3d","name":"TPM/Chart/Hum","topic":"TPM/Chart/Hum","qos":"","retain":"","broker":"f688a5ce.df8078","x":940,"y":260,"wires":[]},{"id":"581104d9.56fb0c","type":"mqtt out","z":"a4089e94.5eb3d","name":"TPM/Chart/Accel","topic":"TPM/Chart/Accel","qos":"","retain":"","broker":"f688a5ce.df8078","x":1010,"y":40,"wires":[]},{"id":"692c25d1.5fc734","type":"function","z":"a4089e94.5eb3d","name":"Query","func":"var query;\nvar dateq = new Date();\nswitch(msg.payload){\n    case \"M\":\n        dateq.setMinutes(dateq.getMinutes()-1);\n        dateq = dateq.toLocaleDateString() + \"T\" + dateq.toLocaleTimeString().match(/\\d{2}:\\d{2}|[AMP]+/g).join(' ');\n        query = {date:{$regex:dateq}};\n        break;\n    case \"H\":\n        dateq.setHours(dateq.getHours()-1);\n        dateq = dateq.toLocaleDateString() + \"T\" + dateq.getHours();\n        query = {date:{$gte:dateq.toString()}};\n        break;\n    case \"D\":\n        dateq.setDate(dateq.getDate()-1);\n        dateq = dateq.toLocaleDateString()+ \"T\" + dateq.toLocaleTimeString();\n        query = {date:{$gte:dateq.toString()}};\n        break;\n    case \"W\":\n        dateq.setDate(dateq.getDate()-7);\n        dateq = dateq.toLocaleDateString()+ \"T\" + dateq.toLocaleTimeString();\n        query = {date:{$gte:dateq.toString()}};\n        break;\n    case \"MONTH\":\n        dateq.setDate(dateq.getDate()-30);\n        dateq = dateq.toLocaleDateString()+ \"T\" + dateq.toLocaleTimeString();\n        query = {date:{$gte:dateq.toString()}};\n        break;\n}\nmsg.payload = query;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":700,"wires":[["5eaab4ec.5d0e14"]]},{"id":"5eaab4ec.5d0e14","type":"mongodb in","z":"a4089e94.5eb3d","mongodb":"b0d7dd61.ffb078","name":"find Temp","collection":"Temp","operation":"find","x":440,"y":700,"wires":[["8a28af02.83fd2"]]},{"id":"f3366ce9.021d4","type":"mqtt out","z":"a4089e94.5eb3d","name":"TPM/Query/Chart/Temp","topic":"TPM/Query/Chart/Temp","qos":"0","retain":"","broker":"f688a5ce.df8078","x":850,"y":700,"wires":[]},{"id":"ef6405f.6491bf8","type":"mqtt in","z":"a4089e94.5eb3d","name":"TPM/Btn/Temp","topic":"TPM/Btn/Temp","qos":"0","broker":"f688a5ce.df8078","x":100,"y":700,"wires":[["692c25d1.5fc734"]]},{"id":"d174522f.cd2958","type":"mongodb in","z":"a4089e94.5eb3d","mongodb":"b0d7dd61.ffb078","name":"find Humidity","collection":"Humidity","operation":"find","x":430,"y":760,"wires":[["b6c20f0a.a0e6f"]]},{"id":"b2b005cf.194708","type":"mqtt out","z":"a4089e94.5eb3d","name":"TPM/Query/Chart/Hum","topic":"TPM/Query/Chart/Hum","qos":"","retain":"","broker":"f688a5ce.df8078","x":870,"y":760,"wires":[]},{"id":"ea2fd532.2fd8b","type":"mongodb in","z":"a4089e94.5eb3d","mongodb":"b0d7dd61.ffb078","name":"find Acceleration","collection":"Accelerometre","operation":"find","x":470,"y":820,"wires":[["53bfdda5.f251fc"]]},{"id":"8a89619f.3862f","type":"mqtt out","z":"a4089e94.5eb3d","name":"TPM/Query/Chart/Acel","topic":"TPM/Query/Chart/Accel","qos":"","retain":"","broker":"f688a5ce.df8078","x":880,"y":820,"wires":[]},{"id":"23d78898.3200e","type":"mqtt in","z":"a4089e94.5eb3d","name":"TPM/Btn/Accel","topic":"TPM/Btn/Accel","qos":"0","broker":"f688a5ce.df8078","x":100,"y":820,"wires":[["d8d967f2.dc9e6"]]},{"id":"8a28af02.83fd2","type":"function","z":"a4089e94.5eb3d","name":"Conv","func":"msg.payload.forEach(el => delete el[\"_id\"]);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":700,"wires":[["f3366ce9.021d4"]]},{"id":"b6c20f0a.a0e6f","type":"function","z":"a4089e94.5eb3d","name":"Conv","func":"msg.payload.forEach(el => delete el[\"_id\"]);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":760,"wires":[["b2b005cf.194708"]]},{"id":"53bfdda5.f251fc","type":"function","z":"a4089e94.5eb3d","name":"Conv","func":"msg.payload.forEach(el => delete el[\"_id\"]);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":820,"wires":[["8a89619f.3862f"]]},{"id":"47543a1e.255d8c","type":"mqtt in","z":"a4089e94.5eb3d","name":"TPM/Btn/Hum","topic":"TPM/Btn/Hum","qos":"0","broker":"f688a5ce.df8078","x":90,"y":760,"wires":[["7a8033b3.0874fc"]]},{"id":"7a8033b3.0874fc","type":"function","z":"a4089e94.5eb3d","name":"Query","func":"var query;\nvar dateq = new Date();\nswitch(msg.payload){\n    case \"M\":\n        dateq.setMinutes(dateq.getMinutes()-1);\n        dateq = dateq.toLocaleDateString() + \"T\" + dateq.toLocaleTimeString().match(/\\d{2}:\\d{2}|[AMP]+/g).join(' ');\n        query = {date:{$regex:dateq}};\n        break;\n    case \"H\":\n        dateq.setHours(dateq.getHours()-1);\n        dateq = dateq.toLocaleDateString() + \"T\" + (dateq.getHours()).slice(-2);\n        query = {date:{$gte:new Date(dateq)}};\n        break;\n    case \"D\":\n        dateq.setDate(dateq.getDate()-1);\n        dateq = dateq.toLocaleDateString()+ \"T\" + dateq.toLocaleTimeString();\n        query = {date:{$gte:dateq.toString()}};\n        break;\n    case \"W\":\n        dateq.setDate(dateq.getDate()-7);\n        dateq = dateq.toLocaleDateString()+ \"T\" + dateq.toLocaleTimeString();\n        query = {date:{$gte:dateq.toString()}};\n        break;\n    case \"MONTH\":\n        dateq.setDate(dateq.getDate()-30);\n        dateq = dateq.toLocaleDateString()+ \"T\" + dateq.toLocaleTimeString();\n        query = {date:{$gte:dateq.toString()}};\n        break;\n}\nmsg.payload = query;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":760,"wires":[["d174522f.cd2958"]]},{"id":"d8d967f2.dc9e6","type":"function","z":"a4089e94.5eb3d","name":"Query","func":"var query;\nvar dateq = new Date();\nswitch(msg.payload){\n    case \"M\":\n        dateq.setMinutes(dateq.getMinutes()-1);\n        dateq = dateq.toLocaleDateString() + \"T\" + dateq.toLocaleTimeString().match(/\\d{2}:\\d{2}|[AMP]+/g).join(' ');\n        query = {date:{$regex:dateq}};\n        break;\n    case \"H\":\n        dateq.setHours(dateq.getHours()-1);\n        dateq = dateq.toLocaleDateString() + \"T\" + (dateq.getHours()).slice(-2);\n        query = {date:{$gte:new Date(dateq)}};\n        break;\n    case \"D\":\n        dateq.setDate(dateq.getDate()-1);\n        dateq = dateq.toLocaleDateString()+ \"T\" + dateq.toLocaleTimeString();\n        query = {date:{$gte:dateq.toString()}};\n        break;\n    case \"W\":\n        dateq.setDate(dateq.getDate()-7);\n        dateq = dateq.toLocaleDateString()+ \"T\" + dateq.toLocaleTimeString();\n        query = {date:{$gte:dateq.toString()}};\n        break;\n    case \"MONTH\":\n        dateq.setDate(dateq.getDate()-30);\n        dateq = dateq.toLocaleDateString()+ \"T\" + dateq.toLocaleTimeString();\n        query = {date:{$gte:dateq.toString()}};\n        break;\n}\nmsg.payload = query;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":820,"wires":[["ea2fd532.2fd8b"]]},{"id":"c6924ddd.3497d","type":"BLE","z":"a4089e94.5eb3d","name":"BLE","topic":"BLE","uuid":"0280e1003402","temperature":true,"humidity":true,"accelerometer":true,"x":90,"y":300,"wires":[["3ab6958f.0bf852","4287feee.65325","b3b9c156.5473d"]]},{"id":"6583d54f.0bde24","type":"mqtt in","z":"a4089e94.5eb3d","name":"TPM/Alerte","topic":"TPM/Alerte","qos":"0","broker":"f688a5ce.df8078","x":80,"y":900,"wires":[["53ad8139.4613","e4020e6.63cd4f","33fe13db.1df2f4"]]},{"id":"c5dc6acf.2d0f8","type":"rpi-gpio out","z":"a4089e94.5eb3d","name":"LED","pin":"13","set":"","level":"0","freq":"5","out":"pwm","x":610,"y":900,"wires":[]},{"id":"8dfefe19.bdea","type":"change","z":"a4089e94.5eb3d","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Alert","fromt":"str","to":"20","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"REARMER","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":900,"wires":[["c5dc6acf.2d0f8","1cdb763c.282382"]]},{"id":"1cdb763c.282382","type":"debug","z":"a4089e94.5eb3d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1000,"wires":[]},{"id":"53ad8139.4613","type":"e-mail","z":"a4089e94.5eb3d","server":"smtp.gmail.com","port":"465","secure":true,"name":"theo7mri@gmail.com","dname":"GMail","x":370,"y":1100,"wires":[]},{"id":"e4020e6.63cd4f","type":"debug","z":"a4089e94.5eb3d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":170,"y":1100,"wires":[]},{"id":"33fe13db.1df2f4","type":"function","z":"a4089e94.5eb3d","name":"Includes","func":"if(msg.payload.includes('Alert'))\n    msg.payload = 'Alert';\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":960,"wires":[["8dfefe19.bdea"]]},{"id":"b0d7dd61.ffb078","type":"mongodb","z":"","hostname":"192.168.1.58","topology":"direct","connectOptions":"","port":"27017","db":"capteurs","name":""},{"id":"f688a5ce.df8078","type":"mqtt-broker","z":"a4089e94.5eb3d","name":"","broker":"192.168.1.58","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
